.vscode-test/
build/
dist/
node_modules/
out/
test/fakebin/
test/unit-tests/driver/workspace/test_project/bin/
vscode-extensions-localization-export/
vscode-translations-import/
jobs/loc/LCL
OneLocBuild
.ci-build
.DS_Store
debug.log
npm-debug.log
package-lock.json
test.txt
*.backup
*.db*
*.vsix
**/nls.*.json
**/*.nls.json
**/*.nls.*.json
