# [OSS Contributors] Delete this .npmrc file to use the npmjs registry instead of the Microsoft Azure Artifacts feed for local development

registry=https://pkgs.dev.azure.com/azure-public/VisualCpp/_packaging/cpp_PublicPackages/npm/registry/                  
always-auth=true
