.vscode/**
typings/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
build/**
docs/**
.ci-build/**
.vscode-test/**
cSpell.json
CMakeLists.txt
tslint.json
.gitattributes