.vscode/**
build/**
docs/**
i18n/**
out/**
scripts/**
src/**
test/**
vscode-extensions-localization-export/**
vscode-translations-import/**
.clang-format
.gitignore
.gitattributes
.travis.yml
appveyor.yml
CHANGELOG.pre-0.11.0.md
gulpfile.js
tsconfig.json
tslint.json
webpack.config.js
yarn.lock
