.vscode/
build/
docs/
i18n/
jobs/
node_modules/
out/
scripts/
src/
test/
types/
vscode-extensions-localization-export/
vscode-translations-import/
**/*.map
*.yml
.clang-format
.gitignore
.gitattributes
CHANGELOG.pre-0.11.0.md
gulpfile.js
tsconfig.json
test.tsconfig.json
translations_auto_pr.js
tslint.json
webpack.config.js
yarn.lock
