name: CI (macOS)

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:
    runs-on: macOS-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.2
        with:
          # Set this option if you want the action to check for the latest available version that satisfies the version spec
          check-latest: true

      - name: Build the extension and run tests
        run: pwsh -NonInteractive -NoProfile -NoLogo scripts/ci.ps1
        
      - name: Run Linter
        run: yarn run lint
        working-directory: vscode-cmake-tools
