name: CI (macOS)

on:
  push:
    branches: [ main, 'release/**' ]
  pull_request:
    branches: [ main, 'release/**']

jobs:
  build:
    runs-on: macos

    steps:
      - uses: actions/checkout@v3

      - name: Setup LCOV
        uses: hrishikesh-kadam/setup-lcov@v1

      - name: Setup Node environment
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Yarn
        run: npm install -g yarn

      - name: Install dependencies
        run: yarn install

      - name: Build the extension
        run: yarn compile-production

      - name: Lint
        run: yarn lint

      - name: Install CMake/Ninja
        uses: lukka/get-cmake@latest
        with:
            cmakeVersion: 3.18.3
            ninjaVersion: 1.10.1
      
      - name: Remove conflicting system CMake installation 
        # The electron test runner modifies PATH priority, so we remove system CMake to ensure our installed version of CMake is used
        run: |
          sudo rm -f /usr/local/bin/cmake
          sudo rm -f /usr/local/bin/cmake-gui
          sudo rm -f /usr/local/bin/ccmake
          sudo rm -f /usr/local/bin/cmcldeps
          sudo rm -f /usr/local/bin/cpack
          sudo rm -f /usr/local/bin/ctest

      - name: Build fake compilers for tests
        uses: urkle/action-cmake-build@v1.0.0
        with:
          source-dir: ${{ github.workspace }}/test/fakeOutputGenerator
          configure-options: -DCMAKE_INSTALL_PREFIX:STRING=${{ github.workspace }}/test/fakebin
          install-build: true

      - name: Run successful-build test
        run: yarn endToEndTestsSuccessfulBuild

      - name: Run backend tests
        run: yarn backendTests

      - name: Run smoke tests
        run: yarn smokeTests

      - name: Run unit tests
        run: yarn unitTests

      - name: Run integration tests
        run: yarn integrationTests

      - name: Run single root test
        run: yarn endToEndTestsSingleRoot

      - name: Run multi root test
        run: yarn endToEndTestsMultiRoot

      - name: Upload test logs if tests failed
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: TestLogs-${{ matrix.os }}
          path: test/**/log.txt
          if-no-files-found: warn
