name: Label new issues

on:
  issues:
    types:
      - opened
      - reopened

permissions:
  issues: write

jobs:
  label_issues:
    runs-on: ubuntu-latest
    steps:
      - name: Add triage label
        uses: andymckay/labeler@e6c4322d0397f3240f0e7e30a33b5c5df2d39e90
        with:
          add-labels: triage
